<script type="script/ng-template" id="required-message">
  <ng-message when="required">
    This field is required!
  </ng-message>
</script>
<form name="empForm">
<md-content  class="md-whiteframe-z2" layout-padding>
    <div layout="row">
        DateTime picker, week start date is Monday    
    </div>
    <div  layout="row"> 
            <sm-date-time-picker 
                fname="field" 
                lable="Date of Birth"
                form="empForm" 
                value="vm.employee.dateOfBirth" 
                flex="50"
                flex-sm="100"
                flex-xs="100"                          
                is-required="{{true}}" 

                format="MM-DD-YYYY HH:mm"
                mode="date-time" 
                week-start-day="Monday">
            </sm-date-time-picker>
    </div>
    <div layout="row">
        Date picker, Max date set to 02-20-2016 and week start date is Sunday
    </div>
    <div   layout="row">
            <sm-date-time-picker 
                fname="joiningDate" 
                lable="Date of Joining"
                form="empForm" 
                value="vm.employee.joiningDate" 
                data-start-date="10-15-2015"
                flex="50"
                flex-sm="100"
                flex-xs="100"                          
                max-date="02-20-2016"
                is-required="{{true}}" 
                format="MM-DD-YYYY" 
                week-start-day="Sunday">
            </sm-date-time-picker>
    </div>
    <div layout="row">
        Date picker, Close on date select only works with &nbsp;<b> Date Picker </b>&nbsp; mode with attribute &nbsp;<b> close-on-select="true"
    </div>
    <div   layout="row">
            <sm-date-time-picker 
                fname="exitDate" 
                lable="Date of Exit"
                form="empForm" 
                value="vm.employee.exitDate" 
                data-start-date="10-15-2015"
                flex="50"
                flex-sm="100"
                flex-xs="100"                          
                close-on-select="true"                                                          
                is-required="{{true}}" 
                format="MM-DD-YYYY" 
                week-start-day="Monday">
            </sm-date-time-picker>
    </div>    
    <div layout="row">
        Min date set to 11-10-2015    
    </div>
    <div   layout="row">
            <sm-date-time-picker 
                fname="Date of Pay" 
                lable="Date of Pay"
                form="empForm"
                min-date="11-10-2015" 
                value="vm.employee.dateOfPay" 
                flex="50"                         
                is-required="{{true}}" 
                format="MM-DD-YYYY HH:mm"
                mode="date-time" 
                week-start-day="Sunday">
            </sm-date-time-picker>        
    </div>   
<!--     <div   layout="column">
        View Mode Hour    
            <sm-date-time-picker 
                fname="Date of Pay" 
                lable="Date of Pay"
                form="empForm"
                min-date="11-10-2015" 
                value="vm.employee.gfghgf" 
                flex-size="50"
                mode="time"                         
                is-required="{{true}}" 
                format="hh:mm a">
            </sm-date-time-picker>        
    </div>   
    <div>
    </div>        
    </div>      
        <h2 class="md-headline">Docs</h2>
        <a href="/#/date-time-picker-api">Docs</a>
    </div>   
 -->

</md-content>
</form>