<md-content  class="md-whiteframe-z2" layout-padding>
    <div  layout="column"> 
        DateTime picker, week start date is Monday    
            <date-time-picker 
                fname="Date of Birth" 
                lable="Date of Birth"
                form="empForm" 
                value="vm.employee.dateOfBirth" 
                flex-size="50"                         
                is-required="{{true}}" 
                format="MM-DD-YYYY HH:mm"
                mode="date-time" 
                week-start-day="Monday">
            </date-time-picker>
    </div>
    <div   layout="column">
        Date picker, Max date set to 01-12-2016 and week start date is Sunday
            <date-time-picker 
                fname="Date of Joining" 
                lable="joiningDate"
                form="empForm" 
                value="vm.employee.joiningDate" 
                data-start-date="10-15-2015"
                flex-size="50"
                max-date="01-12-2016"                                          
                is-required="{{true}}" 
                format="MM-DD-YYYY" 
                week-start-day="Sunday">
            </date-time-picker>
        
    </div>
    <div   layout="column">
        Min date set to 11-10-2015    
            <date-time-picker 
                fname="Date of Pay" 
                lable="Date of Pay"
                form="empForm"
                min-date="11-10-2015" 
                value="vm.employee.dateOfPay" 
                flex-size="50"                         
                is-required="{{true}}" 
                format="MM-DD-YYYY HH:mm"
                mode="date-time" 
                week-start-day="Sunday">
            </date-time-picker>        
    </div>   
    </div>      
        <h2 class="md-headline">Docs</h2>
        <a href="/#/date-time-picker-api">Docs</a>
    </div>   

</md-content>