<md-content class="md-whiteframe-z2" layout-padding>
	<div layout="row" > 
		<h2 class="md-headline">Wel Come to Date Time Picker</h2>
	</div>	
	<div layout="column" > 
		<p>
			I have developed this component for learning purpose. its based on angular material and momentJs. I have tried to follow material guildlines, however there are some area is left open in material guidlines. 
		</p>
		<p>	
			What to do if date and time picker is required? How to display date and time?. How to transite from date selection to time selection?
		</p>
	</div>		
		<h2 class="md-headline">Click at link below to see demo</h2>
		<a href="/#/date-time-picker-demo">Demo</a>
	</div>
</md-content>		