<md-content class="md-whiteframe-z2" layout-padding>
	<div layout="row" > 
		<h2 class="md-headline">Wel Come to Date Time Picker</h2>
	</div>	
	<div layout="column" > 
		<p style="font-size:16px;">
			Datetime picker allows you to pick date and time at same time.  				
		</p>
	</div>		
	<div  layout="column" >
		<h2 class="md-headline">Goal for Date picker</h2>
		<ul style="list-style-type: none;">
			<li>
				Should be design as per Material design guide.
			</li>
			<li>
				Should support Min Max Date. 
			</li>			
			<li>
				Should provide option to select time with date
			</li>						
			<li>
				Should able to change year
			</li>						
			<li>
				Should support material theme.
			</li>							
			<li>
				Should be supported mobile.
			</li>															
		</ul>
	</div>
	<div  layout="column" >
		<h2 class="md-headline">How to Install</h2>
		coming soon
	</div>
	<div  layout="column" >
		<h2 class="md-headline">How to Use</h2>
		coming soon
	</div>	

</md-content>		
