<md-content layout="row">
<div layout  layout-sm="column" layout-xs="column"> 
        <gj-date-time-picker 
            fname="dateOfBirth" 
            lable="dateOfBirth"
            form="empForm" 
            value="vm.employee.dateOfBirth" 
            flex-size="20"                         
            is-required="{{true}}" 
            format="MM-DD-YYYY HH:mm"
            mode="date-time" 
            week-start-day="Sunday">
        </gj-date-time-picker>
        <gj-date-time-picker 
            fname="joiningDate" 
            lable="joiningDate"
            form="empForm" 
            value="vm.employee.joiningDate" 
            data-start-date="10-15-2015"
            flex-size="20"                         
            is-required="{{true}}" 
            format="MM-DD-YYYY" 
            week-start-day="Sunday">
        </gj-date-time-picker>        
</div>    
</md-content>