<md-content  class="md-whiteframe-z2" layout-padding>
    <div> 
    	<h2 class="md-title">Coming soon.</h2>	
	    <div>
	        <gj-range-picker-input
	                fname="Date of Pay" 
	                lable="Date of Pay"
	                form="empForm"
	                min-date="11-10-2015" 
	                value="vm.employee.dateOfPay" 
	                flex-size="50"                         
	                is-required="{{true}}" 
	                format="MM-DD-YYYY HH:mm"
	                mode="date-time" 
	                week-start-day="Sunday">
	        </gj-range-picker-input>
	    </div>

    </div>
</md-content>    	